.main
  .main__header
    .main__headers
      .main__header--group
        group name
      .main__header--member
        誰もおらんで
    
    = link_to "https://www.#", class: "main__header--edit" do
      edit

  .main__chat
    .main__chat--user1
      たたた
    .main__chat--message1
      めっせーじ
    .main__chat--user2
      しょ
    .main__chat--message2
      めっせーじ
  .main__chat--footer
    .main__chat--footers
      .main__chat--footer__message
        .main__chat--footer__message__box
          なんか書くところ
        %label{class: "main__chat--footer__massage__icon"}
          %input{type: "file",class: "main__chat--footer__icon__input"}
          = icon('fas', 'image')
          
    .main__chat--footer__send
      Send